html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  justify-content: center;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  background-color: rgba(76, 175, 80, 0.3)
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .form {
    width: 75%
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  padding: 5px;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}


.display-link a {
  display: block;
  font-size: 19px;
  height: 100px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  color : white;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
  max-height : 33.2px;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
  display: flex;
  margin:auto;
}

body {
  background-color : lightblue;
  /* background: url(https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg); */
color: white;
}

h4{
  color: white;
}

  /* Make these long when enough space and stacked when not.*/
  @media screen and (min-width: 800px) {
    .inputs{
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .inputsandclouds{
      display: flex;
      justify-content: center;
    }
    .cloud1{
  padding-right: 75px;
}

.cloud2{
  padding-left: 75px;
}
    
}

@media screen and (max-width: 799px) {
  .inputs{
    display: block;
    justify-content: center;
  }
  .inputsandclouds{
    display: flex;
    justify-content: center;
    
  }
  .form{
    width : 54%;
  }
}


